{% for menu in menus %}
<div class="col-md-3">
  <div class="post-block-style clearfix">
  <div class="post-thumb">
    <a href="{{ path('fo_actualite_type', {'type': menu.typost.slug, 'slug': menu.slug})}}"><img class="img-responsive" src="{{ asset('uploads/posts/'~ menu.imageName) | imagine_filter('actualiteMenu') }}" alt="{{ menu.titre }}" /></a>
  </div>
  <a class="post-cat" href="#">{{ menu.typost.nom }}</a>
  <div class="post-content">
    <h2 class="post-title title-small">
      <a href="{{ path('fo_actualite_type', {'type': menu.typost.slug, 'slug': menu.slug})}}">{{ menu.titre }}</a>
    </h2>
  </div>
</div>
</div>
{% endfor %}
