{% extends 'base.html.twig' %}

{% block body %}
<div class="trending-light hidden-xs">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="trending-title">Infos</h3>
      <div id="trending-slide" class="owl-carousel owl-theme trending-slide">
        {% for info in infos %}
        <div class="item">
           <div class="post-content">
              <h2 class="post-title title-small">
                 <a href="#">{{ info.libelle }}</a>
              </h2>
           </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div><!--/ Trending light end -->

<section class="featured-post-area no-padding">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 pad-r">
      <div id="featured-slider" class="owl-carousel owl-theme featured-slider">

        {% for agendaTop in agendas %}
        {% if (loop.first) %}
        <!--<div class="item" style="background-image:url({{ vich_uploader_asset(agendaTop, 'imageFile') }})">-->
        <div class="item" style="background-image:url({{ asset('uploads/events/'~ agendaTop.imageName) | imagine_filter('agendaTop') }})">
          <div class="featured-post">
            <div class="post-content">
              <a class="post-cat" href="#">{{ agendaTop.typevent.nom }}</a>
              <h2 class="post-title title-extra-large">
                <a class="gallery-popup" href="{{ vich_uploader_asset(agendaTop, 'imageFile') }}">{{ agendaTop.titre }}</a>
              </h2>
              <span class="post-date">{{ agendaTop.publieLe|date('d M Y')}}</span>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>

    <div class="col-md-6 col-xs-12 pad-l">
      <div class="row">

        {% for agenda in agendas %}
        {% if (loop.index > 1) %}
        <div class="col-sm-6 pad-r-small">
          <div class="post-overaly-style contentTop fourNewsboxTop clearfix">
            <div class="post-thumb">
              <a href="#"><img class="img-responsive" src="{{ asset('uploads/events/'~ agenda.imageName) | imagine_filter('agendaSecondaire') }}" alt="{{ agenda.titre }}" /></a>
            </div>
            <div class="post-content">
              <a class="post-cat" href="#">{{ agenda.typevent.nom}}</a>
              <h2 class="post-title title-medium">
                <a class="gallery-popup" href="{{ vich_uploader_asset(agenda, 'imageFile') }}">{{ agenda.titre }}</a>
              </h2>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
    </div>

  </div>
</div>
</section>

<section class="block-wrapper">
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

      <!--- Featured Tab startet -->
      <div class="featured-tab color-blue">
        <h3 class="block-title"><span>Actualités</span></h3>
        <ul class="nav nav-tabs">
            <li class="active">
              <a class="animated fadeIn" href="#tab_politique" data-toggle="tab">
                <span class="tab-head">
                <span class="tab-text-title">Politiques / dossiers</span>
              </span>
              </a>
            </li>
            <li>
              <a class="animated fadeIn" href="#tab_culture" data-toggle="tab">
                <span class="tab-head">
                <span class="tab-text-title">Cultures / éducations </span>
              </span>
              </a>
          </li>
          <li>
              <a class="animated fadeIn" href="#tab_societe" data-toggle="tab">
                <span class="tab-head">
                <span class="tab-text-title">Sociétés / réligions</span>
              </span>
              </a>
          </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active animated fadeInRight" id="tab_politique">
              <div class="row">
                {% for politiqueTop in politiques %}
                {% if (loop.first) %}
                <div class="col-md-6 col-sm-6">
                  <div class="post-block-style clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': politiqueTop.typost.slug, 'slug': politiqueTop.slug})}}">
                      <img class="img-responsive" src="{{ asset('uploads/posts/'~ politiqueTop.imageName) | imagine_filter('actualiteTop') }}" alt="" />
                    </a>
                  </div>
                  <a class="post-cat" href="#">{{ politiqueTop.typost.nom }}</a>
                  <div class="post-content">
                    <h2 class="post-title">
                      <a href="{{ path('fo_actualite_type', {'type': politiqueTop.typost.slug, 'slug': politiqueTop.slug})}}">{{ politiqueTop.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-author"><a href="#">{{ politiqueTop.publiePar|title }}</a></span>
                      <span class="post-date">{{ politiqueTop.publieLe|date('d M Y')}}</span>
                    </div>
                    <p class="text-justify">{{ politiqueTop.resume }}</p>
                  </div>
                </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="col-md-6 col-sm-6">
                  <div class="list-post-block">
                  <ul class="list-post">
                    {% for politique in politiques %}
                    {% if (loop.index > 1 )%}
                    <li class="clearfix">
                      <div class="post-block-style post-float clearfix">
                        <div class="post-thumb">
                          <a href="{{ path('fo_actualite_type', {'type': politique.typost.slug, 'slug': politique.slug})}}">
                            <img class="img-responsive" src="{{ asset('uploads/posts/'~ politique.imageName) | imagine_filter('actualiteSecondaire') }}" alt="" />
                          </a>
                        </div>

                        <div class="post-content">
                          <h2 class="post-title title-small">
                            <a href="{{ path('fo_actualite_type', {'type': politique.typost.slug, 'slug': politique.slug})}}">{{ politique.titre }}</a>
                          </h2>
                          <div class="post-meta">
                            <span class="post-date">{{ politique.publieLe|date('d M Y')}}</span>
                          </div>
                        </div>
                      </div>
                    </li> <!-- FIn politique {{ loop.index }} -->
                    {% endif %}
                    {% endfor %}

                  </ul>
                </div>
                </div>
              </div>
            </div><!-- Fin tabulation Politique -->

              <div class="tab-pane animated fadeInRight" id="tab_culture">
                <div class="row">
                {% for cultureTop in cultures %}
                {% if (loop.first) %}
                <div class="col-md-6 col-sm-6">
                  <div class="post-block-style clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': cultureTop.typost.slug, 'slug': cultureTop.slug})}}">
                      <img class="img-responsive" src="{{ asset('uploads/posts/'~ cultureTop.imageName) | imagine_filter('actualiteTop') }}" alt="{{ cultureTop.titre }}" />
                    </a>
                  </div>
                  <a class="post-cat" href="#">{{ cultureTop.typost.nom }}</a>
                  <div class="post-content">
                    <h2 class="post-title">
                      <a href="{{ path('fo_actualite_type', {'type': cultureTop.typost.slug, 'slug': cultureTop.slug})}}">{{ cultureTop.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-author"><a href="#">J{{ culture.PubliePar|title }}</a></span>
                      <span class="post-date">{{ cultureTop.publieLe|date('d M Y')}}</span>
                    </div>
                    <p class="text-justify">{{ cultureTop.resume }}</p>
                  </div>
                </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="col-md-6 col-sm-6">
                  <div class="list-post-block">
                  <ul class="list-post">
                    {% for culture in cultures %}
                    {% if (loop.index > 1 ) %}
                    <li class="clearfix">
                      <div class="post-block-style post-float clearfix">
                        <div class="post-thumb">
                          <a href="{{ path('fo_actualite_type', {'type': culture.typost.slug, 'slug': culture.slug})}}">
                            <img class="img-responsive" src="{{ asset('uploads/posts/'~ culture.imageName) | imagine_filter('actualiteSecondaire') }}" alt="{{ culture.titre }}" />
                          </a>
                        </div><!-- Post thumb end -->

                        <div class="post-content">
                          <h2 class="post-title title-small">
                            <a href="{{ path('fo_actualite_type', {'type': culture.typost.slug, 'slug': culture.slug})}}">{{ culture.titre }}</a>
                          </h2>
                          <div class="post-meta">
                            <span class="post-date">{{ culture.publieLe|date('d M Y')}}</span>
                          </div>
                        </div>
                      </div>
                    </li><!-- Fin culture {{ loop.index }} -->
                    {% endif %}
                    {% endfor %}

                  </ul>
                </div>
                </div>
              </div>
            </div>

              <div class="tab-pane animated fadeInLeft" id="tab_societe">

            <div class="row">
                <div class="col-md-6 col-sm-6">
                  {% for societeTop in societes %}
                  {% if loop.first %}
                  <div class="post-block-style clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': societeTop.typost.slug, 'slug': societeTop.slug})}}">
                      <img class="img-responsive" src="{{ asset('uploads/posts/'~ societeTop.imageName) | imagine_filter('actualiteTop') }}" alt="{{ societeTop.titre }}" />
                    </a>
                  </div>
                  <a class="post-cat" href="#">{{ societeTop.typost.nom }}</a>
                  <div class="post-content">
                    <h2 class="post-title">
                      <a href="{{ path('fo_actualite_type', {'type': societeTop.typost.slug, 'slug': societeTop.slug})}}">{{ societeTop.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-author"><a href="#">{{ societeTop.publiePar|title }}</a></span>
                      <span class="post-date">{{ societeTop.publieLe|date('d M Y')}}</span>
                    </div>
                    <p class="text-justify">{{ societeTop.resume }}</p>
                  </div>
                </div>
                  {% endif %}
                  {% endfor %}
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="list-post-block">
                  <ul class="list-post">
                    {% for societe in societes %}
                    {% if (loop.index > 1) %}
                    <li class="clearfix">
                      <div class="post-block-style post-float clearfix">
                        <div class="post-thumb">
                          <a href="{{ path('fo_actualite_type', {'type': societe.typost.slug, 'slug': societe.slug})}}">
                            <img class="img-responsive" src="{{ asset('uploads/posts/'~ societe.imageName) | imagine_filter('actualiteSecondaire') }}" alt="{{ societe.titre }}" />
                          </a>
                        </div><!-- Post thumb end -->

                        <div class="post-content">
                          <h2 class="post-title title-small">
                            <a href="{{ path('fo_actualite_type', {'type': societe.typost.slug, 'slug': societe.slug})}}">{{ societe.titre }}</a>
                          </h2>
                          <div class="post-meta">
                            <span class="post-date">{{ societe.publieLe|date('d M Y')}}</span>
                          </div>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                    {% endfor %}

                  </ul>

                </div>
                </div>
              </div>
              </div>
        </div>
      </div><!-- Technology Tab end -->

      <div class="gap-40"></div>

      <div class="gap-50"></div>

      <div class="latest-news block color-red">
        <h3 class="block-title"><span>Les jeunes en action</span></h3>

        <div id="latest-news-slide" class="owl-carousel owl-theme latest-news-slide">
          <div class="item">
            <ul class="list-post">
              {% for jeune in jeunes %}
              {% if (loop.index < 3) %}
              <li class="clearfix">
                <div class="post-block-style clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': jeune.typost.slug, 'slug': jeune.slug})}}"><img class="img-responsive" src="{{ asset('uploads/posts/'~ jeune.imageName) | imagine_filter('jeuneAction') }}" alt="{{ jeune.titre }}" /></a>
                  </div>
                  <a class="post-cat" href="#">{{ jeune.typost.nom }}</a>
                  <div class="post-content">
                    <h2 class="post-title title-medium">
                      <a href="{{ path('fo_actualite_type', {'type': jeune.typost.slug, 'slug': jeune.slug})}}">{{ jeune.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-author"><a href="#">{{ jeune.publiePar|title }}</a></span>
                      <span class="post-date">{{ jeune.publieLe|date('d M Y')}}</span>
                    </div>
                  </div>
                </div>
              </li>

              <div class="gap-30"></div>
              {% endif %}

              {% endfor %}

            </ul>

          </div><!-- Item 1 end -->

          <div class="item">

            <ul class="list-post">
              {% for jeune in jeunes %}
              {% if ((loop.index > 2) and (loop.index < 5))  %}
              <li class="clearfix">
                <div class="post-block-style clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': jeune.typost.slug, 'slug': jeune.slug})}}"><img class="img-responsive" src="{{ asset('uploads/posts/'~ jeune.imageName) | imagine_filter('jeuneAction') }}" alt="{{ jeune.titre }}" /></a>
                  </div>
                  <a class="post-cat" href="#">{{ jeune.typost.nom }}</a>
                  <div class="post-content">
                    <h2 class="post-title title-medium">
                      <a href="{{ path('fo_actualite_type', {'type': jeune.typost.slug, 'slug': jeune.slug})}}">{{ jeune.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-author"><a href="#">{{ jeune.publiePar|title }}</a></span>
                      <span class="post-date">{{ jeune.publieLe|date('d M Y')}}</span>
                    </div>
                  </div>
                </div>
              </li>

              <div class="gap-30"></div>
              {% endif %}

              {% endfor %}
            </ul>

          </div>

          <div class="item">

            <ul class="list-post">
              {% for jeune in jeunes %}
              {% if ((loop.index > 4) and (loop.index < 7))  %}
              <li class="clearfix">
                <div class="post-block-style clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': jeune.typost.slug, 'slug': jeune.slug})}}"><img class="img-responsive" src="{{ asset('uploads/posts/'~ jeune.imageName) | imagine_filter('jeuneAction') }}" alt="{{ jeune.titre }}" /></a>
                  </div>
                  <a class="post-cat" href="#">{{ jeune.typost.nom }}</a>
                  <div class="post-content">
                    <h2 class="post-title title-medium">
                      <a href="{{ path('fo_actualite_type', {'type': jeune.typost.slug, 'slug': jeune.slug})}}">{{ jeune.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-author"><a href="#">{{ jeune.publiePar|title }}</a></span>
                      <span class="post-date">{{ jeune.publieLe|date('d M Y')}}</span>
                    </div>
                  </div>
                </div>
              </li>

              <div class="gap-30"></div>
              {% endif %}

              {% endfor %}
            </ul>

          </div><!-- Item 3 end -->

          <div class="item">
            <ul class="list-post">
              {% for jeune in jeunes %}
              {% if ((loop.index > 6) and (loop.index < 9))  %}
              <li class="clearfix">
                <div class="post-block-style clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': jeune.typost.slug, 'slug': jeune.slug})}}"><img class="img-responsive" src="{{ asset('uploads/posts/'~ jeune.imageName) | imagine_filter('jeuneAction') }}" alt="{{ jeune.titre }}" /></a>
                  </div>
                  <a class="post-cat" href="#">{{ jeune.typost.nom }}</a>
                  <div class="post-content">
                    <h2 class="post-title title-medium">
                      <a href="{{ path('fo_actualite_type', {'type': jeune.typost.slug, 'slug': jeune.slug})}}">{{ jeune.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-author"><a href="#">{{ jeune.publiePar|title }}</a></span>
                      <span class="post-date">{{ jeune.publieLe|date('d M Y')}}</span>
                    </div>
                  </div>
                </div>
              </li>

              <div class="gap-30"></div>
              {% endif %}

              {% endfor %}
            </ul>

          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="sidebar sidebar-right">
        <div class="widget">
          <h3 class="block-title"><span>Nous suivre</span></h3>

          <ul class="social-icon">
            <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
            <li><a href="https://www.facebook.com/Abengourou-Webzine-191251474765659/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/wabengourou" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/communities/102658190203900718782?hl=fr" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://vimeo.com/abengourouwebzine" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC1ZuitgbFducpDHLAg-hxmg" target="_blank"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div><!-- Widget Social end -->

        <div class="widget text-center">
          {% for pub300x300 in pubs300x300 %}
              <img class="banner img-responsive" src="{{ asset('uploads/publicite/'~ pub300x300.imageName) | imagine_filter('actualite') }}" alt="{{ pub300x300.titre }}" />
          {% endfor %}
        </div>

        <div class="widget color-default m-bottom-0">
          <h3 class="block-title"><span>Facebook</span></h3>

          <div class="fb-page"
          data-href="https://www.facebook.com/Abengourou-Webzine-191251474765659/"
          data-tabs="timeline,events,messages"
          data-height="700"
          data-small-header="true"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/Abengourou-Webzine-191251474765659/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Nuit-2-Reves-302256336935002/">Nuit 2 Reves</a></blockquote>
        </div>

        </div>

      </div>
    </div>

  </div>
</div>
</section>

<section class="ad-content-area text-center no-padding">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="images/banner-ads/ad-content-one.jpg" alt="" />
    </div>
  </div>
</div>
</section>

<section class="block-wrapper">
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="block color-dark-blue">
        <h3 class="block-title"><span>Decouvertes</span></h3>
        {% for decouverteTop in decouvertes %}
          {% if (loop.first) %}
          <div class="post-overaly-style clearfix">
            <div class="post-thumb">
              <a href="{{ path('fo_actualite_type', {'type': decouverteTop.typost.slug, 'slug': decouverteTop.slug})}}">
                <img class="img-responsive" src="{{ asset('uploads/posts/'~ decouverteTop.imageName) | imagine_filter('decouverteTop') }}" alt="{{ decouverteTop.titre }}" />
              </a>
            </div>

            <div class="post-content">
              <h2 class="post-title">
                <a href="{{ path('fo_actualite_type', {'type': decouverteTop.typost.slug, 'slug': decouverteTop.slug})}}">{{ decouverteTop.titre }}</a>
              </h2>
              <div class="post-meta">
                <span class="post-date">{{ decouverteTop.publieLe|date('d M Y')}}</span>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}

        <div class="list-post-block">
          <ul class="list-post">
            {% for decouverte in decouvertes %}
                {% if (loop.index > 1) %}
                <li class="clearfix">
                  <div class="post-block-style post-float clearfix">
                    <div class="post-thumb">
                      <a href="{{ path('fo_actualite_type', {'type': decouverte.typost.slug, 'slug': decouverte.slug})}}">
                        <img class="img-responsive" src="{{ asset('uploads/posts/'~ decouverte.imageName) | imagine_filter('decouverteSecondaire') }}" alt="{{ decouverte.titre }}" />
                      </a>
                    </div>

                    <div class="post-content">
                      <h2 class="post-title title-small">
                        <a href="{{ path('fo_actualite_type', {'type': decouverte.typost.slug, 'slug': decouverte.slug})}}">{{ decouverte.titre }}</a>
                      </h2>
                      <div class="post-meta">
                        <span class="post-date">{{ decouverte.publieLe|date('d M Y') }}</span>
                      </div>
                    </div>
                  </div>
                </li>
                {% endif %}
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="block color-aqua">
        <h3 class="block-title"><span>Sports</span></h3>
        {% for sport in sports %}
          {% if loop.first %}
          <div class="post-overaly-style clearfix">
            <div class="post-thumb">
              <a href="{{ path('fo_actualite_type', {'type': sport.typost.slug, 'slug': sport.slug})}}">
                <img class="img-responsive" src="{{ asset('uploads/posts/'~ sport.imageName) | imagine_filter('decouverteTop') }}" alt="{{ sport.titre}}" />
              </a>
            </div>

            <div class="post-content">
              <h2 class="post-title">
                <a href="{{ path('fo_actualite_type', {'type': sport.typost.slug, 'slug': sport.slug})}}">{{ sport.titre }}</a>
              </h2>
              <div class="post-meta">
                <span class="post-date">{{ sport.publieLe|date('d M Y')}}</span>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}

        <div class="list-post-block">
          <ul class="list-post">
            {% for sport in sports %}
              {% if (loop.index > 1) %}
              <li class="clearfix">
                <div class="post-block-style post-float clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': sport.typost.slug, 'slug': sport.slug})}}">
                      <img class="img-responsive" src="{{ asset('uploads/posts/'~ sport.imageName) | imagine_filter('decouverteSecondaire') }}" alt="{{ sport.titre }}" />
                    </a>
                  </div><!-- Post thumb end -->

                  <div class="post-content">
                    <h2 class="post-title title-small">
                      <a href="{{ path('fo_actualite_type', {'type': sport.typost.slug, 'slug': sport.slug})}}">{{ sport.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">{{ sport.publieLe|date('d M Y')}}</span>
                    </div>
                  </div>
                </div>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="block color-violet">
        <h3 class="block-title"><span>Abengourou by</span></h3>
        {% for bynight in bynights %}
          {% if loop.first %}
          <div class="post-overaly-style clearfix">
            <div class="post-thumb">
              <a href="{{ path('fo_actualite_type', {'type': bynight.typost.slug, 'slug': bynight.slug})}}">
                <img class="img-responsive" src="{{ asset('uploads/posts/'~ bynight.imageName) | imagine_filter('decouverteTop') }}" alt="{{ bynight.titre }}" />
              </a>
            </div>

            <div class="post-content">
              <h2 class="post-title">
                <a href="{{ path('fo_actualite_type', {'type': bynight.typost.slug, 'slug': bynight.slug})}}">{{bynight.titre}}</a>
              </h2>
              <div class="post-meta">
                <span class="post-date">{{ bynight.publieLe|date('d M Y')}}</span>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}

        <div class="list-post-block">
          <ul class="list-post">
            {% for bynight in bynights %}
              {% if (loop.index > 1) %}
              <li class="clearfix">
                <div class="post-block-style post-float clearfix">
                  <div class="post-thumb">
                    <a href="{{ path('fo_actualite_type', {'type': bynight.typost.slug, 'slug': bynight.slug})}}">
                      <img class="img-responsive" src="{{ asset('uploads/posts/'~ bynight.imageName) | imagine_filter('decouverteSecondaire') }}" alt="" />
                    </a>
                  </div><!-- Post thumb end -->

                  <div class="post-content">
                    <h2 class="post-title title-small">
                      <a href="{{ path('fo_actualite_type', {'type': bynight.typost.slug, 'slug': bynight.slug})}}">{{ bynight.titre }}</a>
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">{{ bynight.publieLe|date('d M Y')}}</span>
                    </div>
                  </div>
                </div>
              </li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
</section>


<section class="ad-content-area text-center">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img class="img-responsive" src="images/banner-ads/ad-content-two.png" alt="" />
    </div>
  </div>
</div>
</section>
{% endblock %}
