{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typub</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typub.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ typub.nom }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typub.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typub.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typub.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typub.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typub.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_typub_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_typub_edit', { 'id': typub.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
